<div class="row title">
    <div class="col opportunities">
       <h3 class="titleCard1">Credit Opportunities With Good Approval Odds†</h3>
    </div>

    <div class="infoCard1 card">
        <div class="row">
            <div class="titleCard2 col-lg-6 col-sm-12">
                <p>Barclaycard CashForward™ World MasterCard™</p>
            </div>
            <div class="reviews col-lg-6"> 

                <ngb-rating [rate]="4"></ngb-rating>
                
                <p>3,252 Reviews</p>
            </div>
        </div>

        <div class="info row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 cardka">
               <img class="photoCard float-left" src = "../../assets/photos/BankCard.jpg">
            </div>
        
            <div class="reit col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>Approval Odds†</p>
                <span class="badge badge-pill badge-success">Very Good</span>
            </div>
            <div class="text col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <ul>
                    <li>Get a $100 cash rewards bonus after you spend $500 in purchases in the first 90 days after account oppening.</li>
                    <li>Earn unlimited 1.5% cash rewards on every purcahse.</li>
                    <li>Earn unlimited 1.5% cash rewards on every... <a href="#">show more</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
            <button class="btn btn-danger" type="submit">Apply Now</button>
        </div>
       </div>
        <hr>

        <div class="row">
            <div class="link col">
                <a href="#" class="card-link">See Details Rates & Fees</a>
            </div>
        </div>
    </div>
</div>