*{
    font-family: "ProximaNova-Reg";
    margin: 0px;
}
.title{
    background-color: #F1F5F8;
    display: flex;
    justify-content: center;
}
.titleCard1{
    margin-top: 50px;
    margin-left: 70px;
}
.infoCard1{
    display: flex;
    padding: 40px 80px 20px 80px;
    margin: 30px 80px 40px 80px;
    height: 400px;
}
.titleCard2>p{
    font-size: 20px;
}
.reviews{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.reviews>p{
    margin-top: 4px;
}
ngb-rating {
    font-size:20px;
    color:rgb(128, 231, 218);
    margin-right: 10px;
  }
.info{
    margin-top: 20px;
    margin-bottom: 20px; 
}
.photoCard{
    height: auto;
}
.reit>p{
    font-size: 20px;
    text-align: center;
}
.badge{
    font-size: 15px;
    font-family: "ProximaNova-Bold";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
li{
    margin-bottom: 5px;
}

button{
    width: 100%;
    margin-bottom: 25px;
    font-family: "ProximaNova-Bold";
}

.link{
    margin-top: 15px;
}

@media (max-width: 1066px){
    .infoCard1{
        padding: 30px 50px 10px 50px;
        margin: 20px 60px 30px 60px;
        height: 400px;
    }
}
@media (max-width: 966px){
    .infoCard1{
        padding: 20px;
        margin: 30px;
    }
    .text{
        font-size: 15px;
    }
    .reit>p{
        font-size: 15px;
    }
}
@media (max-width: 767px){
    .text{
        margin-top: 15px;
    }
    .infoCard1{
        height: 580px;
    }
}
@media (max-width: 600px){
    .titleCard1{
        margin-top: 30px;
        margin-left: 20px;
    }
    .infoCard1{
        padding: 10px;
        margin: 10px;
        height: 500px;
    }
    .reviews{
        display: none;
    }
    .reit>p{
        display: none;
    }
    .badge{
        height: 20px;
        width: 100px;
        font-size: 10px; 
    }
    .text{
        padding-left: 0px;
    }
    .cardka{
        width: 50%;   
    }
    .reit{
        width: 50%;
        align-self: center;
    }
    button{
        width: 100%;
    }  
}

