
@font-face{
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url(../src/assets/Fonts/ProximaNova-Reg.otf) format("opentype");
}
@font-face{
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url(../src/assets/Fonts/ProximaNova-Extrabold.otf) format("opentype");
}
@font-face{
    font-family: "Proxima Nova";
    src: local("Proxima Nova"), url(../src/assets/Fonts/ProximaNova-Bold.otf) format("opentype");
}