
<div class="box">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbarTitle">
                <a href="active" href="#"><span class="del">Navigation</span> Link One</a>
                <a href="#"><span class="del">Navigation</span> Link Two</a>
                <a href="#"><span class="del">Navigation</span> Link Three</a>
            </div>
        </div>
    </nav>
    <div class="title">
        <h1 class="titleText">Do the right thing</h1>
    </div>
</div>
