*{
    margin: 0px;
}
.box{
    background-image: url("../../assets/photos/Background_1.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.navbar{
    font-family: "ProximaNova-Bold";
    background-color: white;
    overflow: hidden;
    position: absolute;
    height: 50px;
    width: 100%;
    margin-top: 25px;
}
.navbarTitle{
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
a{
    color: black;
    font-size: 15px;
    display: flex;
    text-align: center;
    font-weight: bold;
}

.title{
    padding-top: 100px;
    padding-left: 70px;
}

.titleText{
    font-size: 100px;
    font-family: "ProximaNova-Extrabold";
}

@media (max-width: 900px){
    .titleText{
        font-size: 70px;
        padding-top: 20px;
        padding-left: 20px;
    }
 }
@media (max-width: 600px){
    .box{
        background-image: url("../../assets/photos/Background_2.jpg");
        background-position: bottom;
    }
    .del{
        display: none;
    }
    .titleText{
        font-size: 65px;
        padding-top: 5px;
        padding-left: 0px;
        padding-right: 20px;
    }
}

   